
.About, .legend {

    max-width: 500px;
    margin: auto;
}

.About p{
    background-color: #383838;
    justify-content: center;
    opacity: 0.85;
    color: white;
    border-radius: 5px;
    text-align: justify;
    padding: 5px;
}

h1 span {
    background-color: #E57A33
    ;
  }