.UpdateVacation  > form {
    border: 1px solid;
    margin: 20px auto;
    padding: 10px;
    text-align: left;
    box-shadow: 0 0 10px;
    border-radius: 10px;
    width: 300px;
    color: white;
}

.UpdateVacation input, .UpdateVacation select, .UpdateVacation button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: x-large;
}

