.Reports .chart {
	
    margin: auto;
    color: white;
    font-size: 16px;
    color: brown;
    word-wrap: break-word;
    width: 100px;
    white-space: normal;
    word-break: break-word;
    
}


.axis {
margin-top: 20px;
}
